**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import numpy as np


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
square = []
another_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for i in another_lista:
    square.append(i**2)


square = [i**2 for i in another_lista]

square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [9]:
import math

sqrt = []
lista_cien = list(range(1,101))


for i in lista_cien:
    sqrt.append(math.sqrt(i))

sqrt = [math.sqrt(i) for i in lista_cien]

sqrt

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
my_list = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [1]:
odds = []
lst = list(range(1,101))
        
print (type(lst))

<class 'list'>

In [7]:
for i in lst:
    if i % 2 == 0:
        print(i)
odds = [i for i in lst if i % 2 == 0]

odds

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [24]:
stringalbert = 'albert es el alumno menos aventajado de la classe'
vowels = "AEIOUaeiou"

new_string = ""
for i in stringalbert:
    if i not in vowels:
        #new_string += i
        new_string = new_string + i

print(new_string)

lbrt s l lmn mns vntjd d l clss

In [26]:
#["lbrt", "s", "l", "lmn" mns vntjd d l clss"]

In [39]:
new_string = "".join([i for i in stringalbert if i not in vowels])
new_string

'lbrt s l lmn mns vntjd d l clss'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [62]:
i.isupper()

True

In [76]:
frase = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = []


for i in frase.replace(" ", ""):
    if i == i.upper():
        capital_letters.append(i)
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [77]:
capital_letters = [i for i in frase.replace(" ", "") if i == i.upper()]

capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [90]:
frase2 = 'The quick brown fox jumped over the lazy dog'


consonant = [i for i in frase2 if i not in "aeiouAEIOU "]

consonant

['T',
 'h',
 'q',
 'c',
 'k',
 'b',
 'r',
 'w',
 'n',
 'f',
 'x',
 'j',
 'm',
 'p',
 'd',
 'v',
 'r',
 't',
 'h',
 'l',
 'z',
 'y',
 'd',
 'g']

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [124]:
import random
n=10

random_list1=[]
random_list2=[]
random_list3=[]
random_list4=[]


for i in range(n):
    random_list1.append(random.randint(1,10))
print(random_list1)


for i in range(n):
    random_list2.append(random.randint(1,10))
print(random_list2)

for i in range(n):
    random_list3.append(random.randint(1,10))
print(random_list3)

for i in range(n):
    random_list4.append(random.randint(1,10))
print(random_list4)

[9, 2, 1, 10, 8, 4, 4, 2, 10, 7]
[1, 4, 3, 4, 3, 1, 7, 7, 7, 8]
[7, 4, 2, 5, 1, 10, 6, 10, 7, 9]
[2, 3, 10, 8, 6, 7, 1, 4, 3, 5]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [108]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [130]:
flatten_list= []
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]


for sublist in list_of_lists:
    for i in sublist:
        flatten_list.append(i)
        
#comprehension mode:

flatten_list = [i for sublist in list_of_lists for i in sublist]
        
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

#floats_1=[]

In [159]:
floats = []
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

for sublist in list_of_lists:
    for i in sublist:
        floats.append(i)

floats = [i for sublist in list_of_lists for i in sublist]

floats_1=[]
        
for i in floats:
    try:
        floats_1.append(float(i))
    except ValueError:
        pass
    
floats_1=[float(i) for i in floats]
    
floats_1

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [166]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i**2)? (3439384179.py, line 2)

In [167]:
list_ = ['a','b','c']

for i in list_:
    try:
        i**2
    except:
        print(f"El elemento {i} no se puede multiplicar")

El elemento a no se puede multiplicar
El elemento b no se puede multiplicar
El elemento c no se puede multiplicar

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [ ]:
x = 5
y = 0

z = x/y

In [165]:
z = 5/0

ZeroDivisionError: division by zero

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [170]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [171]:
for i in abc:
    try:
        print(abc[3])
    except:
        print(f"El elemento {i} está fuera de rango")

El elemento 10 está fuera de rango
El elemento 20 está fuera de rango
El elemento 20 está fuera de rango

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [ ]:
# 1. ZeroDivisionError: This exception is raised when the user attempts to divide by zero. This is an arithmetic error that occurs when a number is divided by zero.

# 2. ValueError: This exception is raised when the user inputs an invalid value. For example, if the user inputs a string instead of a number.

a=5
b=0

for a and b
    try:
        result = a / b
        print(f"se puede)
    except ZeroDivisionError:
        print (f"Cannot divide by zero.")

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [1]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [ ]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError as e:
    print("Error: ", e)

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [2]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (<ipython-input-2-f4ec7bf448fd>, line 2)

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [ ]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

In [ ]:
import sys

def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except:
        print (f'can do nothing, error)
    
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'