**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math
import os
import random
import numpy as np


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
square = []

square = [i**3 for i in range(20)]
square

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [9]:
sqrt = [math.sqrt(i) for i in range(100)]
sqrt

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [15]:
my_list = [i*(-1) for i in range(11)]
my_list[::-1]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [19]:
odds = []

odds = [i for i in range(100) if i%2 == 1]
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [21]:
divisible_by_seven=[i for i in range(1000) if i%7 == 0]
divisible_by_seven

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [24]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [39]:
vowels= ['a','e','i','o','u']
non_vowels=''

for i in range(len(teststring)):
    if teststring[i] not in vowels:
        non_vowels = non_vowels + teststring[i]

non_vowels

'Fnd ll f th wrds n  strng tht r mnsyllbc'

In [47]:
#---- no hay forma de hacer la list comprehension sin que sea una list y sea un string directamente??
non_vowels = [teststring[i] for i in range(len(teststring)) if teststring[i] not in vowels]
''.join(non_vowels)

'Fnd ll f th wrds n  strng tht r mnsyllbc'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [67]:
the_sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'

In [180]:
capital_letters = []

for i in range(len(the_sentence)):
    if the_sentence[i] == the_sentence[i].capitalize() and the_sentence[i] != ' ':
        capital_letters.append(the_sentence[i])
        
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [182]:
capital_letters = [the_sentence[i] for i in range(len(the_sentence)) if the_sentence[i] == the_sentence[i].capitalize() and the_sentence[i] != ' ']
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [85]:
new_sentence = 'The quick brown fox jumped over the lazy dog'
consonants = ['a','e','i','o','u']
consonants_found = []

In [86]:
for i in range(len(new_sentence)):
    if new_sentence[i] in consonants:
        consonants_found.append(new_sentence[i])
        
consonants_found

['e', 'u', 'i', 'o', 'o', 'u', 'e', 'o', 'e', 'e', 'a', 'o']

In [87]:
consonants_found_2 = [new_sentence[i] for i in range(len(new_sentence)) if new_sentence[i] in consonants]
consonants_found_2

['e', 'u', 'i', 'o', 'o', 'u', 'e', 'o', 'e', 'e', 'a', 'o']

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

In [178]:
files = []
ruta = r'C:/Users/maria/Downloads/Lectures-pull/lectures'

for i in os.listdir(ruta):
    if os.path.isdir(os.path.join(ruta,i)):
        files.append(i)
files

['.git', 'cheatsheet', 'datasets', 'images', 'module-1', 'troubleshooting']

In [155]:
[i for i in os.listdir(ruta) if os.path.isdir(os.path.join(ruta,i))]

['.git', 'cheatsheet', 'datasets', 'images', 'module-1', 'troubleshooting']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [176]:
#es 1 lista con 4 listas dentro

lista_1=[]
lista_2=[]

for a in range(4):
    for i in range(10):
        lista_1.append(random.randrange(0,100))
    lista_2.append(lista_1)

lista_2

[[16,
  80,
  0,
  16,
  22,
  88,
  56,
  36,
  75,
  71,
  43,
  70,
  4,
  10,
  1,
  62,
  69,
  16,
  44,
  28,
  22,
  44,
  97,
  12,
  8,
  99,
  63,
  40,
  2,
  88,
  42,
  4,
  99,
  65,
  35,
  76,
  13,
  30,
  45,
  70],
 [16,
  80,
  0,
  16,
  22,
  88,
  56,
  36,
  75,
  71,
  43,
  70,
  4,
  10,
  1,
  62,
  69,
  16,
  44,
  28,
  22,
  44,
  97,
  12,
  8,
  99,
  63,
  40,
  2,
  88,
  42,
  4,
  99,
  65,
  35,
  76,
  13,
  30,
  45,
  70],
 [16,
  80,
  0,
  16,
  22,
  88,
  56,
  36,
  75,
  71,
  43,
  70,
  4,
  10,
  1,
  62,
  69,
  16,
  44,
  28,
  22,
  44,
  97,
  12,
  8,
  99,
  63,
  40,
  2,
  88,
  42,
  4,
  99,
  65,
  35,
  76,
  13,
  30,
  45,
  70],
 [16,
  80,
  0,
  16,
  22,
  88,
  56,
  36,
  75,
  71,
  43,
  70,
  4,
  10,
  1,
  62,
  69,
  16,
  44,
  28,
  22,
  44,
  97,
  12,
  8,
  99,
  63,
  40,
  2,
  88,
  42,
  4,
  99,
  65,
  35,
  76,
  13,
  30,
  45,
  70]]

In [179]:
random_lists=[]
random_list=[random_lists.append([random.randint(0,100) for a in range(10)]) for i in range(4)]
random_lists

[[65, 97, 7, 56, 33, 84, 77, 70, 44, 44],
 [69, 88, 7, 62, 97, 95, 42, 72, 26, 36],
 [59, 70, 25, 83, 81, 42, 33, 7, 92, 32],
 [0, 76, 28, 5, 37, 74, 42, 61, 81, 34]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [183]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [185]:
flatten_list = []
for i in list_of_lists:
    for a in i:
        flatten_list.append(a)
        
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
flatten_list = [a for i in list_of_lists for a in i]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [248]:
list_of_lists_2 = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [251]:
floats = []

for sublist in list_of_lists_2:
    floats_1=[]
    for i in sublist:
        floats_1.append(float(i))
    floats.append(floats_1)
        
print(floats)

[[40.0, 20.0, 10.0, 30.0], [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0], [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0], [100.0, 100.0], [100.0, 100.0, 100.0, 100.0, 100.0], [100.0, 100.0, 100.0, 100.0]]

In [254]:
floats_1=[]
floats = [[float(i) for i in sublist] for sublist in list_of_lists_2]
floats

[[40.0, 20.0, 10.0, 30.0],
 [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0],
 [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0],
 [100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0]]

# Handle the exception thrown by the code below by using try and except blocks.

In [257]:

for i in ['a','b','c']:
    try:
        print (i**2)
    except:
        print(f'El elemento {i} no es un numero')

El elemento a no es un numero
El elemento b no es un numero
El elemento c no es un numero

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [269]:
x = 5
y = 0

try:
    z = x/y
    print(z)
except:
    print(f'O no es un numero o es una division por 0')

O no es un numero o es una division por 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [260]:
abc=[10,20,20]

try:
    print(abc[3])
except:
    print(f'el indice no existe')

el indice no existe

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [281]:
number = input('Please type a number to divide: ')
divisor = input('Please type a number to be devided by: ')

try:
    a=int(number)/int(divisor)
    print(a)
except ZeroDivisionError as zero:
    print("el numero no es divisible por 0")
except: 
    print('los datos ingresados no corresponden a numeros')

Please type a number to divide: 0
Please type a number to be devided by: 5
0.0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [284]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    print('Test not possible, No such file or directory: testfile check again the name of the file')

Test not possible, No such file or directory: testfile check again the name of the file

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [287]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except FileNotFoundError as notfound:
    print('El archivo no existe, verificar')
except:
    print('Data no puede ser convertido a int')

El archivo no existe, verificar

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [289]:
import sys

try:
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    linux_interaction()
except:
    print('No tienes el sistema operativo Linux, solo corre en él')

No tienes el sistema operativo Linux, solo corre en él


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [3]:
input_reques=input('Por favor, digite un numero: ')

while True:
    try: 
        sq = math.sqrt(int(input_reques))
        print(f'La raiz cuadrada es:{sq}')
        break
    except:
           input_reques=input('Por favor, digite un numero: ')

Por favor, digite un numero: hola
Por favor, digite un numero: hola
Por favor, digite un numero: hola
Por favor, digite un numero: 5
La raiz cuadrada es:2.23606797749979


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [ ]:
list = []

for i in range(1,1000):
    for a in range(2,9):
        if i/a

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'

In [1]:
def user ():
    """Escribe las notas totales y las secciones, secciones debe ser += 2
    """

    try:
        Total_Marks = int(input("Enter Total Marks Scored: ")) 
        Num_of_Sections = int(input("Enter Num of Sections: "))
        if Num_of_Sections < 2:
            user ()
                
    except ValueError as val:
        print('Input no valido, deben ser numeros')    
        
    return

In [3]:
user()

Enter Total Marks Scored: 10
Enter Num of Sections: hola
Input no valido, deben ser numeros